path.slice{
	cursor: pointer;
}


.chart-legends{
	width: auto;
	height: 50px;
}

.chart-legends .legend-entry span::before{
	content: "";
	height: 0;
	width: 0;
	margin: 0 6px;
	border-radius: 5px;
	border: 5px solid gray;
	display: inline-block;
}

.chart-legends .legend-entry span.hovered::before {
    border-radius: 7px;
    border: 7px solid gray;
}

.chart-legends .legend-entry span.Open::before{
	border-color:green;
}

.chart-legends .legend-entry span.Partial::before{
	border-color: #eddd02;
}

.chart-legends .legend-entry span.PastDue::before{
	border-color: #900;
}

